<%= form_for(@circuit) do |f| %>
  <% if @circuit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@circuit.errors.count, "error") %> prohibited this circuit from being saved:</h2>

      <ul>
      <% @circuit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :speed %><br>
    <%= f.text_field :speed %>
  </div>
  <div class="field">
    <%= f.label :carrier %><br>
    <%= f.text_field :carrier %>
  </div>
  <div class="field">
    <%= f.label :site_id %><br>
    <%= f.text_field :site_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
